<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Not Found</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/error.css">
  </head>
  <body>
    <div class="background"></div>
    <section class="error">

      <h1>Errore!</h1>
      <h2>Mi dispiace, la pagina da te cercata non esiste!</h2>
      <a href="/">clicca qui per tornare alla home!</a>


  </section>
  </body>
</html>
