<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src='/javascripts/enter.js'></script>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="../stylesheets/css/bootstrap.min.css">
  </head>
  <body>
    <body>
      <div class = "main_background"></div>
      <section class="entry">
        <h1>Travel The World</h1>
        <p> Benvenuto in Travel the world! Su questo sito potrai tenere traccia dei tuoi viaggi, creare una tua wishlist personalizzata e vedere le mete più gettonate dagli utenti. Entra nel sito ed inizia a viaggiare!  </p>

        <button type="button" name="button" onclick="enter();">Entra nel sito</button>
      </section>

      <section class = "main-site">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container">
                <a class="navbar-brand" href="wishlist">Wishlist</a>
                <a class="navbar-brand" href="/viaggi">I miei viaggi</a>
                <a class="navbar-brand" href="/contatti">Contatti</a>
                <% if(cookie==null){ %>
                <a class="navbar-brand" href="/registrazione">Registrazione</a>
                <a class="navbar-brand" href="/login">Login</a>
                <% } %>

                <% if(cookie) { %>
				<a class="navbar-brand" href="/chat">Chat</a>
                <a class="navbar-brand" href="login/logout">Logout</a>
				
                <% } %>
              </div>
            </nav>
        <section class="first">
          <article>
            <h1>Qual è la vacanza che fa per te?</h1>
            <p>Ogni anno sei alla ricerca della meta perfetta? </p>
          </article>
      </section>
      <section id="info">
        <article>
          <figure></figure>
          <div>
            <h2>Scopri posti unici!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </article>
        <article>
          <figure></figure>
          <div>
            <h2>Scopri posti unici!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </article>
        <article>
          <figure></figure>
          <div>
            <h2>Scopri posti unici!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </article>
      </section>

    </section>
  </body>
</html>
