.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error h1 {
  font-size: 70px;
  color: red; 
}

.error h2 {
  font-size: 40px;
}

.error a {
  z-index: 1000;
  font-size: 30px;
  color: black;
}
