#first h1{
  text-align: center;
  font-size: 40px;
}

#first p {
  font-size: 20px;
  padding: 10px 40px;
}

.headers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.headers header {
  display: flex;
  flex-direction: row;
}


.headers div {
  margin: 15px 100px;
  margin-bottom: 25px;
}

.headers div h1 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
}
.headers div h2 {
  font-size: 30px;
  text-align: center;
}


#media{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
}

#media h1 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}
#media #immagini {
  align-self: center;
  height: 40vh;
  width: 90vw;
  overflow: scroll;
  scroll-behavior: smooth;
}

img {
  max-width: 600px;
  max-height: 200px;
}
