#contatti h1 {
  font-size: 30px;
  text-align: center;
}

#contatti p {
  font-size: 20px;
  padding: 10px 40px;
}
#social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#social img {

  width: 40px;
  padding: 3px;
}
